.wrapper {
    display: flex;
    gap: 20px;
}

.nav_link {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--text-purple);
    text-decoration: none;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.nav_link span{
    position: relative;
    color: var(--text-purple);
}
.nav_link span:after {
    content: "";
    height: 2px;
    background: var(--purple);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.nav_link:hover {
    color: var(--purple);
}

.nav_link:hover span:after {
    transform: scaleX(1);
}